.appmenu {
  position: absolute;
  top: 10px;
  left: 10px;
}

.menu {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  gap: 10px;
  transform: scale(0);
  transform-origin: top left;
  transition: 0.3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.menu.open {
  transform: scale(1);
}

.menu div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid 2px #818181;
}

.menu div:nth-child(1) {
  background-color: #005DD9;
}

.menu div:nth-child(2) {
  background-color: #DF8F12;
}

.menu div:nth-child(3) {
  background-color: #E23434;
}

.menu div:nth-child(4) {
  background-color: #622AEB;
}

.menu div:nth-child(5) {
  background-color: #FF20A1;
  /* background-color: #00ff77; */
}

body.blue {
  --main-color: #005DD9;
}

body.orange {
  --main-color: #DF8F12;
}

body.red {
  --main-color: #E23434;
}

body.purple {
  --main-color: #622AEB
}

body.pink {
  --main-color: #FF20A1;
}
#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}